body {

    font-family: 'Architects Daughter',  cursive;
}

main {
    width: 60%
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 400px;
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    font-size: 3.5em;
    margin: 0;

}

h2 {
    font-size: 1.5em;
}

h1 + h2 {
    margin-top: 0;
}