section {
    width: 500px;
    height: 500px;
    background: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color:  rgba(255,255,255,0.5);
    font-size: 0.6em;
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
    font-size: 0.8em;
}