
<%- include('partials/head') %>

    <%- include ('partials/navbar.ejs') %>
    <h1>The Home Page <%= 4 + 5  + 1%></h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, placeat? Autem enim aspernatur dignissimos ab tempore pariatur voluptate quibusdam odit ipsum, quidem impedit eligendi tenetur hic repellendus accusamus est dolorem.
    Voluptas, maiores dolorum voluptates amet, perferendis cumque fuga facilis quae possimus vel totam dicta repellat a nostrum cupiditate mollitia ullam? Corrupti explicabo repellat quidem deleniti! Modi temporibus nisi itaque magni!
    Vel laboriosam consectetur laborum id sit, provident fugit deleniti, nobis labore cum ducimus eum, quisquam et doloremque dolorum cumque eius commodi voluptatum architecto odit? Hic dolorum voluptatem accusamus eius deleniti!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur suscipit perferendis fugiat inventore, error voluptatibus ad illum non molestias sunt maiores, laborum minima sint saepe consequuntur. Quas enim aliquid nulla?
    Corporis autem vero quia porro rerum, excepturi assumenda. Expedita, aut enim nemo vero iste, fugit molestiae minima maiores eius fugiat, sed beatae! Voluptate eos nisi culpa placeat praesentium dolorum recusandae.
    Nihil beatae voluptate repellat debitis unde maiores magnam ullam deleniti nostrum omnis quos, rerum voluptatem animi. Officiis asperiores similique laboriosam doloremque explicabo obcaecati deleniti! Laborum autem aut sapiente eum rerum.</p>
    

    <%- include('partials/footer.ejs')%>