<% layout ('layouts/boilerplate') %>
    <div class="my-5 container-fluid d-flex justify-content-center align-items-center">
        <div class="col-md-6 col-xl-4">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1562206513-6a81cfc73936?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjR8fGNhbXBpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60"
                    class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Log In!</h4>
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input class="form-control" name="username" id="username" type="text" autofocus required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" name="password" id="password" type="password" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="d-grid" >
                        <button class="btn btn-success">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>