<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">
            New Campground
        </h1>
        <div class="col-6  offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">Looks Good!   </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">Looks Good!   </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>

                    <input type="text" class="form-control" id="image" name="campground[image]" required>
                    <div class="valid-feedback">Looks Good!   </div>
                </div>

                <div class="mb-3">

                    <label for="price" class="form-a">Price</label>
                    <div class="input-group">


                        <span class="input-group-text" id="price">$</span>
                        <input name="campground[price]" type="text" class="form-control" id="price"
                            aria-describedby="price-label" placeholder="-" required>
                    </div>
                    <div class="valid-feedback">Looks Good!   </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="10"
                        required></textarea>
                    <div class="valid-feedback">Looks Good!   </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>

                <div>
                    <a href="/campgrounds">All Campgrounds</a>


                </div>
            </form>
        </div>
    </div>

    